In [2]:
import polars as pl
from datetime import datetime,timedelta
import numpy as np

In [3]:
#create serie
s=pl.Series("a",[1,2,3,4,5])
print(s[2])

3

In [4]:
#create dataframe
df=pl.DataFrame({"integer": [1, 2, 3], "date": [(datetime(2023, 1, 1)),(datetime(2023, 1, 2)),(datetime(2023, 1, 3))]})
print(df)

shape: (3, 2)
┌─────────┬─────────────────────┐
│ integer ┆ date                │
│ ---     ┆ ---                 │
│ i64     ┆ datetime[μs]        │
╞═════════╪═════════════════════╡
│ 1       ┆ 2023-01-01 00:00:00 │
│ 2       ┆ 2023-01-02 00:00:00 │
│ 3       ┆ 2023-01-03 00:00:00 │
└─────────┴─────────────────────┘

In [5]:
#expload it into a csv file
df.write_csv('output.csv')

In [6]:
#read df from csv file
#polars made dates as strings so yu can tell it tp parse dates
df_csv=pl.read_csv('output.csv',try_parse_dates=True)
print(df_csv)

shape: (3, 2)
┌─────────┬─────────────────────┐
│ integer ┆ date                │
│ ---     ┆ ---                 │
│ i64     ┆ datetime[μs]        │
╞═════════╪═════════════════════╡
│ 1       ┆ 2023-01-01 00:00:00 │
│ 2       ┆ 2023-01-02 00:00:00 │
│ 3       ┆ 2023-01-03 00:00:00 │
└─────────┴─────────────────────┘

In [7]:
#write df into json file
df.write_json('output.json')
#read df from json file
df_json=pl.read_json('output.json')
print(df_json)

shape: (3, 2)
┌─────────┬─────────────────────┐
│ integer ┆ date                │
│ ---     ┆ ---                 │
│ i64     ┆ datetime[μs]        │
╞═════════╪═════════════════════╡
│ 1       ┆ 2023-01-01 00:00:00 │
│ 2       ┆ 2023-01-02 00:00:00 │
│ 3       ┆ 2023-01-03 00:00:00 │
└─────────┴─────────────────────┘

In [8]:
df=pl.DataFrame({"a":[1,2,3,4,5,6,7],"b":[datetime(2022,12,1)+timedelta(days=idx) for idx in range(7)],"c":[1, 2.0, np.NaN, np.NaN, 0, -42, None]})
print(df)

shape: (7, 3)
┌─────┬─────────────────────┬───────┐
│ a   ┆ b                   ┆ c     │
│ --- ┆ ---                 ┆ ---   │
│ i64 ┆ datetime[μs]        ┆ f64   │
╞═════╪═════════════════════╪═══════╡
│ 1   ┆ 2022-12-01 00:00:00 ┆ 1.0   │
│ 2   ┆ 2022-12-02 00:00:00 ┆ 2.0   │
│ 3   ┆ 2022-12-03 00:00:00 ┆ NaN   │
│ 4   ┆ 2022-12-04 00:00:00 ┆ NaN   │
│ 5   ┆ 2022-12-05 00:00:00 ┆ 0.0   │
│ 6   ┆ 2022-12-06 00:00:00 ┆ -42.0 │
│ 7   ┆ 2022-12-07 00:00:00 ┆ null  │
└─────┴─────────────────────┴───────┘

In [9]:
print(df.head(5))

shape: (5, 3)
┌─────┬─────────────────────┬─────┐
│ a   ┆ b                   ┆ c   │
│ --- ┆ ---                 ┆ --- │
│ i64 ┆ datetime[μs]        ┆ f64 │
╞═════╪═════════════════════╪═════╡
│ 1   ┆ 2022-12-01 00:00:00 ┆ 1.0 │
│ 2   ┆ 2022-12-02 00:00:00 ┆ 2.0 │
│ 3   ┆ 2022-12-03 00:00:00 ┆ NaN │
│ 4   ┆ 2022-12-04 00:00:00 ┆ NaN │
│ 5   ┆ 2022-12-05 00:00:00 ┆ 0.0 │
└─────┴─────────────────────┴─────┘

In [10]:
print(df.tail(5))

shape: (5, 3)
┌─────┬─────────────────────┬───────┐
│ a   ┆ b                   ┆ c     │
│ --- ┆ ---                 ┆ ---   │
│ i64 ┆ datetime[μs]        ┆ f64   │
╞═════╪═════════════════════╪═══════╡
│ 3   ┆ 2022-12-03 00:00:00 ┆ NaN   │
│ 4   ┆ 2022-12-04 00:00:00 ┆ NaN   │
│ 5   ┆ 2022-12-05 00:00:00 ┆ 0.0   │
│ 6   ┆ 2022-12-06 00:00:00 ┆ -42.0 │
│ 7   ┆ 2022-12-07 00:00:00 ┆ null  │
└─────┴─────────────────────┴───────┘

In [11]:
#with sample you get a random 3 rows
df.sample(3)

shape: (3, 3)
┌─────┬─────────────────────┬───────┐
│ a   ┆ b                   ┆ c     │
│ --- ┆ ---                 ┆ ---   │
│ i64 ┆ datetime[μs]        ┆ f64   │
╞═════╪═════════════════════╪═══════╡
│ 7   ┆ 2022-12-07 00:00:00 ┆ null  │
│ 6   ┆ 2022-12-06 00:00:00 ┆ -42.0 │
│ 4   ┆ 2022-12-04 00:00:00 ┆ NaN   │
└─────┴─────────────────────┴───────┘

In [12]:
print(df.describe())

shape: (7, 4)
┌────────────┬──────────┬────────────────────────────┬───────┐
│ describe   ┆ a        ┆ b                          ┆ c     │
│ ---        ┆ ---      ┆ ---                        ┆ ---   │
│ str        ┆ f64      ┆ str                        ┆ f64   │
╞════════════╪══════════╪════════════════════════════╪═══════╡
│ count      ┆ 7.0      ┆ 7                          ┆ 7.0   │
│ null_count ┆ 0.0      ┆ 0                          ┆ 1.0   │
│ mean       ┆ 4.0      ┆ null                       ┆ NaN   │
│ std        ┆ 2.160247 ┆ null                       ┆ NaN   │
│ min        ┆ 1.0      ┆ 2022-12-01 00:00:00.000000 ┆ -42.0 │
│ max        ┆ 7.0      ┆ 2022-12-07 00:00:00.000000 ┆ 2.0   │
│ median     ┆ 4.0      ┆ null                       ┆ 1.5   │
└────────────┴──────────┴────────────────────────────┴───────┘

In [20]:
#select a statement
df.select(
    pl.col('*')
)

shape: (7, 3)
┌─────┬─────────────────────┬───────┐
│ a   ┆ b                   ┆ c     │
│ --- ┆ ---                 ┆ ---   │
│ i64 ┆ datetime[μs]        ┆ f64   │
╞═════╪═════════════════════╪═══════╡
│ 1   ┆ 2022-12-01 00:00:00 ┆ 1.0   │
│ 2   ┆ 2022-12-02 00:00:00 ┆ 2.0   │
│ 3   ┆ 2022-12-03 00:00:00 ┆ NaN   │
│ 4   ┆ 2022-12-04 00:00:00 ┆ NaN   │
│ 5   ┆ 2022-12-05 00:00:00 ┆ 0.0   │
│ 6   ┆ 2022-12-06 00:00:00 ┆ -42.0 │
│ 7   ┆ 2022-12-07 00:00:00 ┆ null  │
└─────┴─────────────────────┴───────┘

In [21]:
#or yu can specify the columns
df.select(
    pl.col(['a','b'])
)

shape: (7, 2)
┌─────┬─────────────────────┐
│ a   ┆ b                   │
│ --- ┆ ---                 │
│ i64 ┆ datetime[μs]        │
╞═════╪═════════════════════╡
│ 1   ┆ 2022-12-01 00:00:00 │
│ 2   ┆ 2022-12-02 00:00:00 │
│ 3   ┆ 2022-12-03 00:00:00 │
│ 4   ┆ 2022-12-04 00:00:00 │
│ 5   ┆ 2022-12-05 00:00:00 │
│ 6   ┆ 2022-12-06 00:00:00 │
│ 7   ┆ 2022-12-07 00:00:00 │
└─────┴─────────────────────┘

In [22]:
#let's limit the number of returned rows to 3
df.select(
    pl.col(['a','b'])
).limit(3)

shape: (3, 2)
┌─────┬─────────────────────┐
│ a   ┆ b                   │
│ --- ┆ ---                 │
│ i64 ┆ datetime[μs]        │
╞═════╪═════════════════════╡
│ 1   ┆ 2022-12-01 00:00:00 │
│ 2   ┆ 2022-12-02 00:00:00 │
│ 3   ┆ 2022-12-03 00:00:00 │
└─────┴─────────────────────┘

In [19]:
#or instead of selecting yu can exclude a column
df.select(
    pl.exclude('a')
)

shape: (7, 2)
┌─────────────────────┬───────┐
│ b                   ┆ c     │
│ ---                 ┆ ---   │
│ datetime[μs]        ┆ f64   │
╞═════════════════════╪═══════╡
│ 2022-12-01 00:00:00 ┆ 1.0   │
│ 2022-12-02 00:00:00 ┆ 2.0   │
│ 2022-12-03 00:00:00 ┆ NaN   │
│ 2022-12-04 00:00:00 ┆ NaN   │
│ 2022-12-05 00:00:00 ┆ 0.0   │
│ 2022-12-06 00:00:00 ┆ -42.0 │
│ 2022-12-07 00:00:00 ┆ null  │
└─────────────────────┴───────┘

In [17]:
df.filter(
    pl.col('b').is_between(datetime(2022,12,2),datetime(2022,12,5))
)

shape: (4, 3)
┌─────┬─────────────────────┬─────┐
│ a   ┆ b                   ┆ c   │
│ --- ┆ ---                 ┆ --- │
│ i64 ┆ datetime[μs]        ┆ f64 │
╞═════╪═════════════════════╪═════╡
│ 2   ┆ 2022-12-02 00:00:00 ┆ 2.0 │
│ 3   ┆ 2022-12-03 00:00:00 ┆ NaN │
│ 4   ┆ 2022-12-04 00:00:00 ┆ NaN │
│ 5   ┆ 2022-12-05 00:00:00 ┆ 0.0 │
└─────┴─────────────────────┴─────┘

In [18]:
df.filter(
    (pl.col('a')<=4) & (pl.col('c').is_not_nan())
)

shape: (2, 3)
┌─────┬─────────────────────┬─────┐
│ a   ┆ b                   ┆ c   │
│ --- ┆ ---                 ┆ --- │
│ i64 ┆ datetime[μs]        ┆ f64 │
╞═════╪═════════════════════╪═════╡
│ 1   ┆ 2022-12-01 00:00:00 ┆ 1.0 │
│ 2   ┆ 2022-12-02 00:00:00 ┆ 2.0 │
└─────┴─────────────────────┴─────┘

In [26]:
#with columns allows u to create new columns
df.with_columns(
    pl.col('a').sum().alias('d'),
    (pl.col('a')+30).alias('e')
)

shape: (7, 5)
┌─────┬─────────────────────┬───────┬─────┬─────┐
│ a   ┆ b                   ┆ c     ┆ d   ┆ e   │
│ --- ┆ ---                 ┆ ---   ┆ --- ┆ --- │
│ i64 ┆ datetime[μs]        ┆ f64   ┆ i64 ┆ i64 │
╞═════╪═════════════════════╪═══════╪═════╪═════╡
│ 1   ┆ 2022-12-01 00:00:00 ┆ 1.0   ┆ 28  ┆ 31  │
│ 2   ┆ 2022-12-02 00:00:00 ┆ 2.0   ┆ 28  ┆ 32  │
│ 3   ┆ 2022-12-03 00:00:00 ┆ NaN   ┆ 28  ┆ 33  │
│ 4   ┆ 2022-12-04 00:00:00 ┆ NaN   ┆ 28  ┆ 34  │
│ 5   ┆ 2022-12-05 00:00:00 ┆ 0.0   ┆ 28  ┆ 35  │
│ 6   ┆ 2022-12-06 00:00:00 ┆ -42.0 ┆ 28  ┆ 36  │
│ 7   ┆ 2022-12-07 00:00:00 ┆ null  ┆ 28  ┆ 37  │
└─────┴─────────────────────┴───────┴─────┴─────┘

In [27]:
df2=pl.DataFrame({'x':[0,1,2,3,4,5,6,7],'y':['A','A','B','A','C','B','B','A']})
print(df2)

shape: (8, 2)
┌─────┬─────┐
│ x   ┆ y   │
│ --- ┆ --- │
│ i64 ┆ str │
╞═════╪═════╡
│ 0   ┆ A   │
│ 1   ┆ A   │
│ 2   ┆ B   │
│ 3   ┆ A   │
│ 4   ┆ C   │
│ 5   ┆ B   │
│ 6   ┆ B   │
│ 7   ┆ A   │
└─────┴─────┘

In [28]:
#without maintain yu will get a random order
df2.groupby('y',maintain_order=True).count()

shape: (3, 2)
┌─────┬───────┐
│ y   ┆ count │
│ --- ┆ ---   │
│ str ┆ u32   │
╞═════╪═══════╡
│ A   ┆ 4     │
│ B   ┆ 3     │
│ C   ┆ 1     │
└─────┴───────┘

In [35]:
df2.groupby('y',maintain_order=True).agg(
    pl.col('x').count().alias('count'),
    pl.col('x').sum().alias('sum')
)

shape: (3, 3)
┌─────┬───────┬─────┐
│ y   ┆ count ┆ sum │
│ --- ┆ ---   ┆ --- │
│ str ┆ u32   ┆ i64 │
╞═════╪═══════╪═════╡
│ A   ┆ 4     ┆ 11  │
│ B   ┆ 3     ┆ 13  │
│ C   ┆ 1     ┆ 4   │
└─────┴───────┴─────┘

In [30]:
df3=pl.DataFrame({'a':[1,2,3,4,5,6],'b':[2,3,4,5,6,7]})
print(df3)

shape: (6, 2)
┌─────┬─────┐
│ a   ┆ b   │
│ --- ┆ --- │
│ i64 ┆ i64 │
╞═════╪═════╡
│ 1   ┆ 2   │
│ 2   ┆ 3   │
│ 3   ┆ 4   │
│ 4   ┆ 5   │
│ 5   ┆ 6   │
│ 6   ┆ 7   │
└─────┴─────┘

In [31]:
new_df=df3.with_columns(
    (pl.col('a')*pl.col('b')).alias('a*b')
).select(
    pl.all().exclude(['a','b'])
)
print(new_df)

shape: (6, 1)
┌─────┐
│ a*b │
│ --- │
│ i64 │
╞═════╡
│ 2   │
│ 6   │
│ 12  │
│ 20  │
│ 30  │
│ 42  │
└─────┘

In [32]:
df=pl.DataFrame({"a":[1,2,3,4,5,6,7],"b":[datetime(2022,12,1)+timedelta(days=idx) for idx in range(7)],"c":[1, 2.0, np.NaN, np.NaN, 0, -42, None]})
df1=pl.DataFrame({"x":[1,2,3,4,5,6,7],"y":[1, 2.0, np.NaN, np.NaN, 0, -42, None]})
#both dataframes have an id-like column ,we can use it to join them

In [33]:
df.join(df1, left_on="a", right_on="x")

shape: (7, 4)
┌─────┬─────────────────────┬───────┬───────┐
│ a   ┆ b                   ┆ c     ┆ y     │
│ --- ┆ ---                 ┆ ---   ┆ ---   │
│ i64 ┆ datetime[μs]        ┆ f64   ┆ f64   │
╞═════╪═════════════════════╪═══════╪═══════╡
│ 1   ┆ 2022-12-01 00:00:00 ┆ 1.0   ┆ 1.0   │
│ 2   ┆ 2022-12-02 00:00:00 ┆ 2.0   ┆ 2.0   │
│ 3   ┆ 2022-12-03 00:00:00 ┆ NaN   ┆ NaN   │
│ 4   ┆ 2022-12-04 00:00:00 ┆ NaN   ┆ NaN   │
│ 5   ┆ 2022-12-05 00:00:00 ┆ 0.0   ┆ 0.0   │
│ 6   ┆ 2022-12-06 00:00:00 ┆ -42.0 ┆ -42.0 │
│ 7   ┆ 2022-12-07 00:00:00 ┆ null  ┆ null  │
└─────┴─────────────────────┴───────┴───────┘

In [34]:
pl.concat([df,df1],how='horizontal')

shape: (7, 5)
┌─────┬─────────────────────┬───────┬─────┬───────┐
│ a   ┆ b                   ┆ c     ┆ x   ┆ y     │
│ --- ┆ ---                 ┆ ---   ┆ --- ┆ ---   │
│ i64 ┆ datetime[μs]        ┆ f64   ┆ i64 ┆ f64   │
╞═════╪═════════════════════╪═══════╪═════╪═══════╡
│ 1   ┆ 2022-12-01 00:00:00 ┆ 1.0   ┆ 1   ┆ 1.0   │
│ 2   ┆ 2022-12-02 00:00:00 ┆ 2.0   ┆ 2   ┆ 2.0   │
│ 3   ┆ 2022-12-03 00:00:00 ┆ NaN   ┆ 3   ┆ NaN   │
│ 4   ┆ 2022-12-04 00:00:00 ┆ NaN   ┆ 4   ┆ NaN   │
│ 5   ┆ 2022-12-05 00:00:00 ┆ 0.0   ┆ 5   ┆ 0.0   │
│ 6   ┆ 2022-12-06 00:00:00 ┆ -42.0 ┆ 6   ┆ -42.0 │
│ 7   ┆ 2022-12-07 00:00:00 ┆ null  ┆ 7   ┆ null  │
└─────┴─────────────────────┴───────┴─────┴───────┘